In [1]:
import os
import datetime
import math
import time
from get_today_schedule import get_today_sched
import numpy as np
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from datetime import date, datetime


'''
This function will run the simulations on a test data set to see how they
perform on last seasons data.
'''

#pull in the entire schedule dataset
engine = create_engine(os.environ.get('DEV_DB_CONNECT'))

sql_query = 'SELECT * from nhl_tables.nhl_schedule'
df = pd.read_sql(sql_query, con=engine,
                 parse_dates = {'game_date': '%Y-%m-%d'})

/Users/MattBarlowe/.virtualenvs/databasescripts/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
season_start = '2017-10-04'
season_end = '2018-04-08'
startdate = datetime.strptime(season_start, '%Y-%m-%d')
enddate = datetime.strptime(season_end, '%Y-%m-%d')

In [3]:
date_list = [date.fromordinal(i) for i in range(startdate.toordinal(), enddate.toordinal()+1)]

In [4]:
startdate_str = startdate.strftime('%Y-%m-%d')

In [5]:
def get_avg_df(df):
    reg = df[df.ot_flag != 1]
    ot = df[(df.ot_flag == 1) & (df.shootout_flag != 1)]
    shootout = df[df.shootout_flag == 1]

    reg_avg = reg[['home_score', 'away_score','seconds_in_ot']].mean()
    ot_avg = ot[['home_score', 'away_score', 'seconds_in_ot']].mean()
    shootout_avg = shootout[['home_score', 'away_score', 'seconds_in_ot']].mean()

    reg_avg['ot_flag'] = 0
    ot_avg['ot_flag'] = 1
    shootout_avg['ot_flag'] = 1

    reg_avg['shootout_flag'] = 0
    ot_avg['shootout_flag'] = 0
    shootout_avg['shootout_flag'] = 1

    avg_df = pd.concat([reg_avg, ot_avg, shootout_avg], axis=1).T

    avg_df.columns = ['goals_for', 'goals_against', 'seconds_in_ot', 'ot_flag', 'shootout_flag']
    avg_df['non_ot_goals_for'] = np.where(((avg_df.shootout_flag == 1) | (avg_df.ot_flag == 1)) & 
                                              (avg_df.goals_for > avg_df.goals_against), avg_df.goals_for - 1,
                                              avg_df.goals_for)
    avg_df['non_ot_goals_against'] = np.where(((avg_df.shootout_flag == 1) | (avg_df.ot_flag == 1)) & 
                                              (avg_df.goals_for < avg_df.goals_against), avg_df.goals_against - 1,
                                              avg_df.goals_against)
    avg_df['ot_goals'] = np.where(avg_df.shootout_flag == 0, 
                                          avg_df.goals_for - avg_df.non_ot_goals_for, 0)
    avg_df['ot_goals_against'] = np.where((avg_df.ot_flag == 1) & (avg_df.shootout_flag != 1), 1, 0)
    
    return avg_df

In [6]:
def clean_results(results_df, team, date):
    '''
    this function cleans the results dataframe and just strips out the wanted
    team results and creates a column for OT goals as well 
    '''
    results_df = results_df[results_df.game_date < date]
    cleaned_results = []
    #looping through the results_df to pull out only the games the team variable played in.
    for index, row in results_df.iterrows():
        if row.home_team == team:
            #print(row)
            new_row = row[['game_id', 'game_type', 'season', 'game_date', 'home_team_id', 'home_team',
                           'home_score', 'away_score', 'ot_flag', 'shootout_flag', 'seconds_in_ot']]
            
            #print(new_row)
            new_row.index = ['game_id', 'game_type', 'season', 'game_date', 'team_id', 'team',
                           'goals_for', 'goals_against', 'ot_flag', 'shootout_flag', 'seconds_in_ot']
            
            new_row['is_home'] = 1
            
            cleaned_results.append(new_row)
            
        elif row.away_team == team:
            #print(row)
            new_row = row[['game_id', 'game_type', 'season', 'game_date', 'away_team_id', 'away_team',
                           'away_score', 'home_score', 'ot_flag', 'shootout_flag', 'seconds_in_ot']]
            #print(new_row)
            new_row.index = ['game_id', 'game_type', 'season', 'game_date', 'team_id', 'team',
                           'goals_for', 'goals_against', 'ot_flag', 'shootout_flag', 'seconds_in_ot']
            
            new_row['is_home'] = 0
            
            #print(new_row)
            cleaned_results.append(new_row)
            
    cleaned_df = pd.concat(cleaned_results, axis=1).T
    
    #calculating non ot goals by seeing if the game went to ot or shootout and if so whether the team won or not.
    #if they did then they score one less goals than their final total if not then they scored their same goals for 
    #amount
    cleaned_df['non_ot_goals_for'] = np.where(((cleaned_df.shootout_flag == 1) | (cleaned_df.ot_flag == 1)) & 
                                          (cleaned_df.goals_for > cleaned_df.goals_against), cleaned_df.goals_for - 1,
                                          cleaned_df.goals_for)
    cleaned_df['non_ot_goals_against'] = np.where(((cleaned_df.shootout_flag == 1) | (cleaned_df.ot_flag == 1)) & 
                                          (cleaned_df.goals_for < cleaned_df.goals_against), cleaned_df.goals_against - 1,
                                          cleaned_df.goals_against)
    cleaned_df['ot_goals'] = np.where(cleaned_df.shootout_flag == 0, 
                                      cleaned_df.goals_for - cleaned_df.non_ot_goals_for, 0)
    cleaned_df['ot_goals_against'] = np.where(cleaned_df.shootout_flag == 0,
                                              cleaned_df.goals_against - cleaned_df.non_ot_goals_against,0)
                                            
    cleaned_df = cleaned_df.reset_index(drop=True)
    
    #only return the last two seasons of games
    cleaned_df = cleaned_df.sort_values(by=['game_date'], ascending=False).iloc[:164, :]
    
    return cleaned_df

In [7]:
def monte_carlo_predict(home_results, away_results):
    '''
    taking the results of each team this function runs a monte carlo
    simulation to predict goals scored using the poissson distribution
    '''
    results =[]
    
    home_lambda = (home_results['non_ot_goals_for'].mean() + away_results['non_ot_goals_against'].mean()) / 2
    away_lambda = (home_results['non_ot_goals_against'].mean() + away_results['non_ot_goals_for'].mean()) / 2
    
    home_ot_lambda = (((home_results['ot_goals'].sum()/home_results['seconds_in_ot'].sum()) * 300) + \
                      (away_results['ot_goals_against'].sum()/away_results['seconds_in_ot'].sum())*300)/2
    
    away_ot_lambda = (((away_results['ot_goals'].sum()/away_results['seconds_in_ot'].sum()) * 300) + \
                      (home_results['ot_goals_against'].sum()/home_results['seconds_in_ot'].sum())*300)/2
    
    home_ot_win_percent = np.where((home_results.ot_flag == 1) & (home_results.shootout_flag == 0)
                                   & (home_results.goals_for > home_results.goals_against), 1, 0).sum()/home_results[(home_results.ot_flag == 1) & (home_results.shootout_flag == 0)].shape[0]
    away_ot_win_percent = np.where((away_results.ot_flag == 1) & (away_results.shootout_flag == 0)
                                   & (away_results.goals_for > away_results.goals_against), 1, 0).sum()/away_results[(away_results.ot_flag == 1) & (away_results.shootout_flag == 0)].shape[0]
    home_so_win_percent = np.where((home_results.shootout_flag == 1) &(home_results.goals_for > home_results.goals_against), 
                                   1, 0).sum()/home_results[home_results.shootout_flag == 1].shape[0]
    away_so_win_percent = np.where((away_results.shootout_flag == 1) & (away_results.goals_for > away_results.goals_against), 
                                   1, 0).sum()/away_results[away_results.shootout_flag == 1].shape[0]
    if math.isnan(home_ot_win_percent):
        home_ot_win_percent = .5
        
    if math.isnan(away_ot_win_percent):
        away_ot_win_percent = .5
        
    if math.isnan(home_so_win_percent):
        home_so_win_percent = .5
        
    if math.isnan(away_so_win_percent):
        away_so_win_percent = .5
    
    home_reg_goals = np.random.poisson(home_lambda, 10000)
    away_reg_goals = np.random.poisson(away_lambda, 10000)
       
    for home, away in zip(home_reg_goals, away_reg_goals):
        if home > away:
            results.append(1)
        elif away > home:
            results.append(0)
        else:
            prob_of_zero_goals = (math.exp(-home_ot_lambda) * math.exp(-away_ot_lambda))
            
            if np.random.binomial(1, prob_of_zero_goals) == 1:
                try:
                    prob_of_home_so_win = home_so_win_percent/(home_so_win_percent + away_so_win_percent)
                except:
                    prob_of_home_so_win = .5
                results.append(np.random.binomial(1, prob_of_home_so_win))
            else:
                try:
                    prob_of_home_ot_win = home_ot_win_percent/(home_ot_win_percent + away_ot_win_percent)
                except:
                    prob_of_home_ot_win = .5
                results.append(np.random.binomial(1, prob_of_home_ot_win))
                
    home_win_prob = sum(results)/len(results)
                
    return home_win_prob

In [9]:
#looping over every date of the 2018 season to pull the games from the dataframe 
#that were played on that date
predictions = []


for game_date in date_list:
    #create a dataframe of the games played
    schedule_df = df[df.game_date == pd.Timestamp(game_date).strftime('%Y-%m-%d')]
    train_df = df[df.game_date < pd.Timestamp(game_date).strftime('%Y-%m-%d')]
    ot_df = train_df[(train_df.ot_flag == 1) & (train_df.shootout_flag != 1)]
    avg_scoring_per_game = ((train_df['home_score'].sum() + train_df['away_score'].sum())/df.shape[0])/60
    avg_scoring_per_ot = (ot_df.shape[0]/ot_df.seconds_in_ot.sum()) * 60
    home_win_pct = df.home_win.sum()/df.shape[0]
    
    #home ice advantage multiplier
    home_mult = 1+((home_win_pct - .5)/.5)
    
    #iterating over the dataframe to simulate one game at a time
    for index, row in schedule_df.iterrows():
        game_id = row.game_id
        
        home_team = row.home_team
        away_team = row.away_team
        #all these try and excepts are because vegas has no past samples
        try:
            home_results = clean_results(df, home_team, game_date)
            
            if home_results.shape[0] < 2:
                home_results = get_avg_df(train_df)
                
        except:
            home_results = get_avg_df(train_df)
        try:
            away_results = clean_results(df, away_team, game_date)
            #vegas bullshit
            if away_results.shape[0] < 2:
                away_results = get_avg_df(train_df)
                
        except:
            away_results = get_avg_df(train_df)
        home_win_probabilities = []
        
        #running the monte carlo simulation a 10,000 times
        print(f'{away_team} vs. {home_team}')
        print(pd.Timestamp(game_date).strftime('%Y-%m-%d'))
        print(row.game_id)
        start_time = time.time()
        for x in range(0,10000):
            win_prob = monte_carlo_predict(home_results, away_results)
            #testing to see how it performs without the home multiplier
            #win_prob = home_mult * win_prob
            home_win_probabilities.append(win_prob)
        #multiply result from monte carlo function by a home team multiplier
        print(sum(home_win_probabilities)/len(home_win_probabilities))
        final_win_probs = sum(home_win_probabilities)/len(home_win_probabilities)
        predictions.append([game_id, game_date, home_team, away_team, final_win_probs])
        end_time = time.time()
        time_to_run = end_time - start_time
        print(f'Time for simulation to run: {time_to_run}')

/Users/MattBarlowe/.virtualenvs/databasescripts/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

Toronto Maple Leafs vs. Winnipeg Jets
2017-10-04
2017020001
0.5085042000000055
Time for simulation to run: 218.61548781394958
St. Louis Blues vs. Pittsburgh Penguins
2017-10-05
2017020002

KeyboardInterrupt:

In [318]:
predict_df = pd.DataFrame(predictions)
predict_df.columns = ['game_id', 'game_date', 'home_team', 'away_team', 'home_win_probs']
predict_df.sort_values(by='game_id').tail()

,game_id,game_date,home_team,away_team,home_win_probs
1266,2017021267,2018-04-08,Arizona Coyotes,Anaheim Ducks,0.472949
1267,2017021268,2018-04-08,Calgary Flames,Vegas Golden Knights,0.476749
1270,2017021269,2018-04-08,Edmonton Oilers,Vancouver Canucks,0.616762
1268,2017021270,2018-04-08,Los Angeles Kings,Dallas Stars,0.592777
1269,2017021271,2018-04-08,San Jose Sharks,Minnesota Wild,0.541844

In [320]:
test_df = df[df.game_date >= '2017-10-04']

final_df = test_df.merge(predict_df[['game_id', 'home_win_probs']], on='game_id' )
final_df['home_win_pred'] = np.where(final_df.home_win_probs > .5, 1, 0)
final_df.head(10)

,game_id,game_type,season,game_date,home_team_id,home_team,home_score,away_team_id,away_team,away_score,ot_flag,shootout_flag,seconds_in_ot,home_win,home_win_probs,home_win_pred
0,2017020001,R,20172018,2017-10-04,52,Winnipeg Jets,2,10,Toronto Maple Leafs,7,0,0,0,0,0.552740,1
1,2017020002,R,20172018,2017-10-05,5,Pittsburgh Penguins,4,19,St. Louis Blues,5,1,0,75,0,0.569392,1
2,2017020003,R,20172018,2017-10-05,22,Edmonton Oilers,3,20,Calgary Flames,0,0,0,0,1,0.550235,1
3,2017020004,R,20172018,2017-10-05,28,San Jose Sharks,3,4,Philadelphia Flyers,5,0,0,0,0,0.587445,1
4,2017020005,R,20172018,2017-10-05,6,Boston Bruins,4,18,Nashville Predators,3,0,0,0,1,0.559737,1

In [322]:
from sklearn.metrics import log_loss, accuracy_score

ll = log_loss(final_df.home_win, final_df.home_win_probs)
acc = accuracy_score(final_df.home_win, final_df.home_win_pred)

print(f'Model log loss is: {ll}\nModel accuracy is: {acc}')

Model log loss is: 0.676399647191561
Model accuracy is: 0.5767112509834775

In [325]:
home_blah = df.home_win.sum()/df.shape[0]
.55 * 1+((home_blah - .5)/.5)

0.6515813454837847

home_results.head()

In [260]:
df[((df.home_team == 'New York Rangers') | (df.away_team == 'New York Rangers'))].sort_values(by='game_date', ascending=False)

,game_id,game_type,season,game_date,home_team_id,home_team,home_score,away_team_id,away_team,away_score,ot_flag,shootout_flag,seconds_in_ot,home_win
3408,2017021257,R,20172018,2018-04-07,4,Philadelphia Flyers,5,3,New York Rangers,0,0,0,0,1
3393,2017021242,R,20172018,2018-04-05,2,New York Islanders,2,3,New York Rangers,1,0,0,0,1
3381,2017021229,R,20172018,2018-04-03,1,New Jersey Devils,5,3,New York Rangers,2,0,0,0,1
3364,2017021212,R,20172018,2018-03-31,12,Carolina Hurricanes,1,3,New York Rangers,2,0,0,0,0
3353,2017021201,R,20172018,2018-03-30,3,New York Rangers,3,14,Tampa Bay Lightning,7,0,0,0,0
3339,2017021187,R,20172018,2018-03-29,15,Washington Capitals,3,3,New York Rangers,2,1,0,38,1
3325,2017021170,R,20172018,2018-03-26,3,New York Rangers,2,15,Washington Capitals,4,0,0,0,0
3315,2017021159,R,20172018,2018-03-24,3,New York Rangers,5,7,Buffalo Sabres,1,0,0,0,1
3293,2017021137,R,20172018,2018-03-22,4,Philadelphia Flyers,4,3,New York Rangers,3,0,0,0,1
3279,2017021122,R,20172018,2018-03-20,3,New York Rangers,3,29,Columbus Blue Jackets,5,0,0,0,0
3262,2017021105,R,20172018,2018-03-18,19,St. Louis Blues,4,3,New York Rangers,3,1,0,62,1
3237,2017021079,R,20172018,2018-03-15,3,New York Rangers,4,5,Pittsburgh Penguins,3,1,0,173,1
3223,2017021063,R,20172018,2018-03-12,3,New York Rangers,6,12,Carolina Hurricanes,3,0,0,0,1
3720,2017021056,R,20172018,2018-03-11,13,Florida Panthers,4,3,New York Rangers,3,0,1,300,1
3202,2017021037,R,20172018,2018-03-09,14,Tampa Bay Lightning,5,3,New York Rangers,3,0,0,0,1
3188,2017021022,R,20172018,2018-03-07,3,New York Rangers,0,52,Winnipeg Jets,3,0,0,0,0
3172,2017021007,R,20172018,2018-03-04,22,Edmonton Oilers,2,3,New York Rangers,3,0,0,0,0
3163,2017020996,R,20172018,2018-03-03,20,Calgary Flames,1,3,New York Rangers,3,0,0,0,0
3149,2017020982,R,20172018,2018-03-01,23,Vancouver Canucks,5,3,New York Rangers,6,1,0,82,0
3130,2017020960,R,20172018,2018-02-26,3,New York Rangers,2,17,Detroit Red Wings,3,1,0,294,0
3112,2017020941,R,20172018,2018-02-24,3,New York Rangers,1,30,Minnesota Wild,4,0,0,0,0
3104,2017020933,R,20172018,2018-02-23,8,Montréal Canadiens,3,3,New York Rangers,1,0,0,0,1
3078,2017020905,R,20172018,2018-02-18,3,New York Rangers,4,4,Philadelphia Flyers,7,0,0,0,0
3069,2017020895,R,20172018,2018-02-17,9,Ottawa Senators,6,3,New York Rangers,3,0,0,0,1
3054,2017020880,R,20172018,2018-02-16,2,New York Islanders,3,3,New York Rangers,0,0,0,0,1
3046,2017020872,R,20172018,2018-02-14,30,Minnesota Wild,3,3,New York Rangers,2,0,0,0,1
3030,2017020854,R,20172018,2018-02-11,52,Winnipeg Jets,1,3,New York Rangers,3,0,0,0,0
3015,2017020836,R,20172018,2018-02-10,3,New York Rangers,4,20,Calgary Flames,3,0,0,0,1
3003,2017020824,R,20172018,2018-02-08,3,New York Rangers,1,6,Boston Bruins,6,0,0,0,0
2990,2017020810,R,20172018,2018-02-06,25,Dallas Stars,2,3,New York Rangers,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,2015020432,R,20152016,2015-12-12,22,Edmonton Oilers,7,3,New York Rangers,5,0,0,0,1
384,2015020420,R,20152016,2015-12-10,23,Vancouver Canucks,2,3,New York Rangers,1,0,0,0,1
368,2015020401,R,20152016,2015-12-07,3,New York Rangers,4,9,Ottawa Senators,1,0,0,0,1
342,2015020373,R,20152016,2015-12-04,3,New York Rangers,1,21,Colorado Avalanche,2,0,0,0,0
3460,2015020370,R,20152016,2015-12-03,2,New York Islanders,2,3,New York Rangers,1,0,1,300,1
329,2015020356,R,20152016,2015-12-01,3,New York Rangers,4,12,Carolina Hurricanes,3,0,0,0,1
316,2015020342,R,20152016,2015-11-28,3,New York Rangers,0,4,Philadelphia Flyers,3,0,0,0,0
305,2015020330,R,20152016,2015-11-27,6,Boston Bruins,4,3,New York Rangers,3,0,0,0,1
296,2015020320,R,20152016,2015-11-26,3,New York Rangers,1,8,Montréal Canadiens,5,0,0,0,0
286,2015020309,R,20152016,2015-11-24,3,New York Rangers,3,18,Nashville Predators,0,0,0,0,1
273,2015020296,R,20152016,2015-11-22,13,Florida Panthers,4,3,New York Rangers,5,1,0,121,0
263,2015020284,R,20152016,2015-11-20,14,Tampa Bay Lightning,2,3,New York Rangers,1,0,0,0,1
240,2015020259,R,20152016,2015-11-16,3,New York Rangers,4,10,Toronto Maple Leafs,3,0,0,0,1
3448,2015020246,R,20152016,2015-11-14,9,Ottawa Senators,1,3,New York Rangers,2,0,1,300,0
216,2015020231,R,20152016,2015-11-13,3,New York Rangers,6,19,St. Louis Blues,3,0,0,0,1
203,2015020217,R,20152016,2015-11-11,3,New York Rangers,3,12,Carolina Hurricanes,0,0,0,0,1
194,2015020208,R,20152016,2015-11-08,53,Arizona Coyotes,1,3,New York Rangers,4,0,0,0,0
184,2015020197,R,20152016,2015-11-07,21,Colorado Avalanche,1,3,New York Rangers,2,0,0,0,0
163,2015020174,R,20152016,2015-11-04,3,New York Rangers,5,15,Washington Capitals,2,0,0,0,1
136,2015020146,R,20152016,2015-10-30,3,New York Rangers,3,10,Toronto Maple Leafs,1,0,0,0,1
110,2015020119,R,20152016,2015-10-25,3,New York Rangers,4,20,Calgary Flames,1,0,0,0,1
3441,2015020110,R,20152016,2015-10-24,4,Philadelphia Flyers,3,3,New York Rangers,2,0,1,300,1
85,2015020092,R,20152016,2015-10-22,3,New York Rangers,4,53,Arizona Coyotes,1,0,0,0,1
75,2015020080,R,20152016,2015-10-19,3,New York Rangers,4,28,San Jose Sharks,0,0,0,0,1
70,2015020075,R,20152016,2015-10-18,3,New York Rangers,1,1,New Jersey Devils,2,1,0,187,0
50,2015020053,R,20152016,2015-10-15,8,Montréal Canadiens,3,3,New York Rangers,0,0,0,0,1
35,2015020038,R,20152016,2015-10-13,3,New York Rangers,1,52,Winnipeg Jets,4,0,0,0,0
19,2015020021,R,20152016,2015-10-10,3,New York Rangers,5,29,Columbus Blue Jackets,2,0,0,0,1
12,2015020013,R,20152016,2015-10-09,29,Columbus Blue Jackets,2,3,New York Rangers,4,0,0,0,0
1,2015020002,R,20152016,2015-10-08,16,Chicago Blackhawks,2,3,New York Rangers,3,0,0,0,0

In [248]:
home_results.head(10)

,game_id,game_type,season,game_date,team_id,team,goals_for,goals_against,ot_flag,shootout_flag,seconds_in_ot,is_home,non_ot_goals_for,non_ot_goals_against,ot_goals,ot_goals_against
0,2015020002,R,20152016,2015-10-08 00:00:00,3,New York Rangers,3,2,0,0,0,0,3,2,0,0
1,2015020013,R,20152016,2015-10-09 00:00:00,3,New York Rangers,4,2,0,0,0,0,4,2,0,0
2,2015020021,R,20152016,2015-10-10 00:00:00,3,New York Rangers,5,2,0,0,0,1,5,2,0,0
3,2015020038,R,20152016,2015-10-13 00:00:00,3,New York Rangers,1,4,0,0,0,1,1,4,0,0
4,2015020053,R,20152016,2015-10-15 00:00:00,3,New York Rangers,0,3,0,0,0,0,0,3,0,0
5,2015020075,R,20152016,2015-10-18 00:00:00,3,New York Rangers,1,2,1,0,187,1,1,1,0,1
6,2015020080,R,20152016,2015-10-19 00:00:00,3,New York Rangers,4,0,0,0,0,1,4,0,0,0
7,2015020092,R,20152016,2015-10-22 00:00:00,3,New York Rangers,4,1,0,0,0,1,4,1,0,0
8,2015020119,R,20152016,2015-10-25 00:00:00,3,New York Rangers,4,1,0,0,0,1,4,1,0,0
9,2015020146,R,20152016,2015-10-30 00:00:00,3,New York Rangers,3,1,0,0,0,1,3,1,0,0